<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css" integrity="sha512-rt/SrQ4UNIaGfDyEXZtNcyWvQeOq0QLygHluFQcSjaGB04IxWhal71tKuzP6K8eYXYB6vJV4pHkXcmFGGQ1/0w==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link href="https://cdn.jsdelivr.net/npm/@universis/theme@2.0.0/css/universis.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap-grid.min.css" integrity="sha512-uzG4YY/dpwIEUrfjYud6T7ieVM06DwkHYiB28wgbtq0w4hSGx3XyDF2Oh/VaxB0hmyxyR3hYHNQc4Chb/dS1Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>EPICUR - European Universis</title>
    <style>
        body {
            font-size: 110%;
        }
        .card {
            border-radius: 6px;
            border: 0;
            -webkit-box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
            box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <img alt="EPICUR" height="128" src="https://register.epicur.auth.gr/assets/img/epicur-logo.png">
        </div>
        <p>Dear <%= model.candidate.givenName %>
                <%= model.candidate.familyName %>
        </p>
        <p>
            We are pleased to inform you that your application for "<%=model.studyProgram.name%>" has been accepted.
        </p>
        <p>
            The following list contains the accepted course registrations for the selected mobility programme of EPICUR:
        </p>
        <% for(const courseRegistration of model.courseRegistrations) { %>
        
            <div class="card p-4 mb-3">
                <div class="d-flex justify-content-between mb-2">
                    <div>
                        <h2 class="card-title text-theme h3 font-weight-normal"><%=courseRegistration.courseClass.title%></h2>
                        <div>
                            <% if (courseRegistration.courseClass.participationType) { %>
                                <span class="badge badge-success font-weight-normal p-2 mb-2">
                                    <%=courseRegistration.courseClass.participationType.name%>
                                  </span>
                            <% } %>
                            <% if (courseRegistration.courseType) { %>
                                <span class="badge badge-theme font-weight-normal p-2 mb-2">
                                    <%=courseRegistration.courseType%>
                                  </span>
                            <% } %>
                            <% if (courseRegistration.ects) { %>
                                <span class="badge badge-danger font-weight-normal p-2 mb-2">
                                    <%=courseRegistration.ects%>&nbsp;ECTS
                                  </span>
                            <% } %>
                        </div>
                        <% if (courseRegistration.courseClass.course.provider) { %>
                        <h4 class="mt-2 mb-3">
                            <span class="font-weight-normal small">
                                <%=courseRegistration.courseClass.course.provider.name%>
                            </span>
                        </h4>
                        <% } %>
                    </div>
                    <div>
                        <div class="ml-auto pl-5 d-none d-md-block m-4">
                            <% if (courseRegistration.courseClass.course.provider &&
                        courseRegistration.courseClass.course.provider.image) { %>
                            <img src="<%=courseRegistration.courseClass.course.provider.image%>" width="160">
                            <% } else { %>
                                <img src="https://register.epicur.auth.gr/assets/img/epicur-logo.png" width="160">
                            <% } %>
                        </div>
                    </div>
                </div>
                <% if (courseRegistration.courseClass.startDate && courseRegistration.courseClass.endDate) {
                    %>
                    <div class="row pl-0 col-12">
                        <div class="col-lg-6">
                            <div class="card shadow-none mb-0 bg-light border-0">
                                <div class="card-body">
                                    <h5 class="card-title mb-1">Course term</h5>
                                    <p class="card-text text-danger">
                                        <%=html.moment(courseRegistration.courseClass.startDate).format("LL")%> - <%=html.moment(courseRegistration.courseClass.endDate).format("LL")%>
                                    </p>
                                    <% if (courseRegistration.courseClass.scheduleInformation) {
                                        %>
                                        <div class="small">
                                            <p><%-courseRegistration.courseClass.scheduleInformation%></p>
                                        </div>
                                    <% } %>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%
                } %>
                
            </div>

        <% } %>
        <p>
            Please also check out the <a href="https://learn.epicur.education/goto.php?target=cat_123">EPICUR FAQ
                section</a> for further important information.
        </p>
        <p>
            We are excited to welcome you to the EPICUR course and wish you an enriching learning experience.
        </p>
        <p>Best wishes,</p>
        <p>Your EPICUR Education team</p>
    </div>
</body>

</html>