<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css"/>
    <title>EPICUR - European Universis</title>
</head>
<body>
<div class="container">
    <div class="page-header">
        <img alt="EPICUR" height="128" src="https://register.epicur.auth.gr/assets/img/epicur-logo.png">
    </div>
    <p>
        <%-model.body%>
    </p>
</div>
</body>
</html>
