<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css"/>
    <title>EPICUR - European Universis</title>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h3>EPICUR - Application status</h3>
    </div>
    <p>Dear <%= model.candidate.givenName %> <%= model.candidate.familyName %></p>
    <p>
        The status of your application for an EPICUR mobility program has been changed. Please go to <a href="https://register.epicur.auth.gr">EPICUR register application</a> and check your application.
    </p>
    <br>
    <p>Best regards</p>
    <p>EPICUR VURS Support</p>
</div>
</body>
</html>
